
{% extends "blog/base.html" %}
<!DOCTYPE html>
<html lang="en">

  {% block content %}
  <body>


    <!-- content starts -->
    <div class="content">
      <div class="content_left"><br>

      </div>

      <div class="content_center">

<div class="card" style="border-radius: 25px;margin-top:10px">
     <div class="card-body">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4"><b>Delete Post</b></legend>
                <h6>Are you sure you want to delete the post </h6>"{{ object.title }}"
            </fieldset><hr>
            <div class="form-group">
                <button class="btn btn-outline-danger btn-sm" type="submit">Yes, Delete</button>
            </div>
        </form>
    </div>
</div>
      </div>

      <div class="content_right">
        <div class="content_right_inner">
          <div class="card-body" style="background-color: #f1f5f9;">

								  <h5 class="card-text" style="text-align: center;">Options</h5><hr>
                                  <a style="width:150px" type="button" href="{% url 'post-detail' object.id %}" class="btn btn-secondary btn-block text-left">Close</a>
								</div>
							  </div>
        </div>
      </div>
    </div>
  </body>
{% endblock content %}
</html>