{% extends "dash/base2.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="content">
      <div class="content_left">

      </div>

      <div class="content_center">
    <div class="content-section">
        <form method="POST">
            {% csrf_token %}
            <div class="media_container">
            <div class="share">
            <h4 class="text_mid">Your Announcement</h4><br><hr /><br>

            <fieldset class="share" >
                {{ form|crispy }}
            </fieldset>

            <hr /><br>
              <button class="button" type="submit"><h4>Post</h4></button>
          </div>
            </div>
        </form>
    </div>
      </div>

        <div class="content_right">

        </div>
    </div>

{% endblock content %}f