{% extends "dash/base2.html" %}
{% load crispy_forms_tags %}
{% block content %}
<div style="margin-left:24px; margin-right:89px; margin-top:114px;">
    <div class="card" style="border-radius: 25px;">
        <div class="card-body">
            <form method="post" novalidate>
                {% csrf_token %}
                <h2 style="text-align:center">Transaction Details</h2><hr>
                <div class="row" style="text-transform:uppercase;">
                    <div class="col-12">
                        {{ form.transaction_title|as_crispy_field }}
                    </div>
                    <div class="col-8">
                        {{ form.contact_person|as_crispy_field }}
                    </div>
                    <div class="col-4">
                        {{ form.contact_number|as_crispy_field }}
                    </div>
                    <div class="col-8">
                        {{ form.transfer_of|as_crispy_field }}
                    </div>
                    <div class="col-4">
                        {{ form.mode_of_payment|as_crispy_field }}
                    </div>
                    <div class="col-6">
                        {{ form.transaction_amount|as_crispy_field }}
                    </div>
                    <div class="col-6">
                        {{ form.actual_amount|as_crispy_field }}
                    </div>
                    <div class="col-12">
                        {{ form.approved_by|as_crispy_field }}
                    </div>
                    <div class="col-12">
                        {{ form.remarks|as_crispy_field }}
                    </div>
                    <div class="col-3">
                        {{ form.payment_status|as_crispy_field }}
                    </div>
                </div>
                <hr>
                <button type="submit" class="btn btn-success btn-lg btn-sm">Save Transaction</button>
                <a type="button" href="{% url 'bpt-home' %}" class="btn btn-outline-dark btn-lg btn-sm ">
                    Cancel<span class="las la-arrow-right">
                            </span></a>
            </form>
        </div>
    </div>
</div>
{% endblock content %}
