{% extends "dash/base2.html" %}
{% block content %}
<!--<link rel="stylesheet" href="/static/blog/main.css">-->
<div style="margin-left:54px; margin-right:255px; margin-top:114px;">
    <div class="projects">
        <div class="card" style="border-radius: 25px;">
            <div class="card-header" style="border-radius: 25px;">
                <a type="button" href="{% url 'hh-update' object.id %}" class="btn btn-info btn-lg btn-sm">
                    Update<span class="las la-arrow-right">
                            </span></a><a type="button" href="{% url 'hh-delete' object.id %}" class="btn btn-danger btn-lg btn-sm">
                Delete<span class="las la-arrow-right">
                            </span></a>
            </div>

            <div class="card-body">
                <div class="table-responsive">
                    <table width="100%">

                            <div class="container"><br>
                                <div class="row" style="margin-left:20px;">
                                    <div class="col-12">
                                        <small style="color:grey">Family Name:</small> <h2>{{ household.family_name }}</h2>
                                    </div>
                                    <div class="col-12">
                                        <small style="color:grey">Number of Members:</small> <h2>{{ household.number_of_member }}</h2>
                                    </div>
                                    <div class="col-12">
                                        <small style="color:grey">Members:</small> <h2>{{ household.members|linebreaks }}</h2>
                                    </div>
                            </div>
                        </div>

                    </table><hr>
                    <a type="button" href="{% url 'hh-home' %}" class="btn btn-outline-danger btn-lg btn-sm btn-block">
                        Close<span class="las la-arrow-right">
                            </span></a><br>
                </div>
            </div>

        </div>
    </div>
</div>
{% endblock content %}