{% extends "dash/base2.html" %}
{% load crispy_forms_tags %}
{% block content %}
<div style="margin-left:24px; margin-right:89px; margin-top:114px;">
<div class="card" style="border-radius: 25px;">
     <div class="card-body">
        <form method="post" enctype="multipart/form-data">
<!--        <form method="post" novalidate>-->
            {% csrf_token %}
            <div class="row">
              <div class="col-4">
                {{ form.last_name|as_crispy_field }}
              </div>
              <div class="col-4">
                {{ form.first_name|as_crispy_field }}
              </div>
              <div class="col-4">
                {{ form.middle_name|as_crispy_field }}
              </div>
              <div class="col-3">
                {{ form.gender|as_crispy_field }}
              </div>
              <div class="col-3">
                {{ form.age|as_crispy_field }}
              </div>
              <div class="col-3">
                {{ form.birthday|as_crispy_field }}
              </div>
              <div class="col-3">
                {{ form.year_of_residency|as_crispy_field }}
              </div>
              <div class="col-4">
                {{ form.birthplace|as_crispy_field }}
              </div>
              <div class="col-5">
                {{ form.street|as_crispy_field }}
              </div>
              <div class="col-3">
                {{ form.house_number|as_crispy_field }}
              </div>
              <div class="col-3">
                {{ form.civil_status|as_crispy_field }}
              </div>
              <div class="col-4">
                {{ form.religion|as_crispy_field }}
              </div>
              <div class="col-5">
                {{ form.nationality|as_crispy_field }}
              </div>
              <div class="col-4">
                {{ form.phone_number|as_crispy_field }}
              </div>
              <div class="col-4">
                {{ form.PWD|as_crispy_field }}
              </div>
              <div class="col-3">
                {{ form.status|as_crispy_field }}
              </div>
              <div class="col-5">
                {{ form.image|as_crispy_field }}
              </div>
            </div><hr>
            <button type="submit" class="btn btn-success btn-lg btn-sm">Save Resident</button>
            <a type="button" href="{% url 'people-detail' people.id %}" class="btn btn-outline-dark btn-lg btn-sm ">
                              Cancel<span class="las la-arrow-right">
                            </span></a>
        </form>
    </div>
</div>
</div>
<script>
function goBack() {
  window.history.back();
}
</script>
{% endblock content %}