{% extends "dash/base2.html" %}
{% load crispy_forms_tags %}
{% block content %}
<div style="margin-left:24px; margin-right:89px; margin-top:114px; margin-bottom: 20px;">
<div class="card" style="border-radius: 25px;">
     <div class="card-body">
        <form method="post" novalidate>
            {% csrf_token %}
            <div class="row">
              <div class="col-2">
                {{ form.start_of_term|as_crispy_field }}
              </div>
              <div class="col-2">
                {{ form.end_of_term|as_crispy_field }}
              </div>
                <div class="col-8">
                {{ form.address|as_crispy_field }}
              </div>
            </div>
            <div class="row">
              <div class="col-4">
                {{ form.last_name|as_crispy_field }}
              </div>
              <div class="col-4">
                {{ form.first_name|as_crispy_field }}
              </div>
              <div class="col-4">
                {{ form.middle_name|as_crispy_field }}
              </div>
              <div class="col-3">
                {{ form.gender|as_crispy_field }}
              </div>
              <div class="col-3">
                {{ form.age|as_crispy_field }}
              </div>
              <div class="col-5">
                {{ form.image|as_crispy_field }}
              </div>
            </div>
            <hr>
            <button type="submit" class="btn btn-success btn-lg btn-sm">Save Official</button>
            <button class="btn btn-outline-dark btn-lg btn-sm" onclick="goBack()">Cancel</button>
        </form>
    </div>
</div>
</div>
<script>
function goBack() {
  window.history.back();
}
</script>
{% endblock content %}